@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#b_1232 {
	background-color: #401480;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 300px;
	z-index: 1;
}

#b_1232 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#b_1232 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#el_1233 {
	top: 199px;
	left: 33px;
	z-index: 1;
	mix-blend-mode: normal;
}

#img_1233 {
	width: 120px;
	height: 32px;
}

#img_1233.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

#el_1236 {
	top: 0px;
	left: 10.7799072265625px;
	z-index: 2;
	mix-blend-mode: normal;
}

#img_1236 {
	width: 290px;
	height: 250px;
}

#img_1236.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

#el_1242 {
	top: 36.83999824523926px;
	left: 30.9599609375px;
	z-index: 3;
	mix-blend-mode: normal;
}

#img_1242 {
	width: 149px;
	height: 116px;
}

#img_1242.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

#el_16210 {
	top: 179.66062927246094px;
	left: 144.66064453125px;
	z-index: 4;
	mix-blend-mode: normal;
}

#img_16210 {
	width: 10px;
	height: 10px;
}

#img_16210.bnfy-enter {
	-webkit-animation: swirl-in-fwd 1000ms 4900ms ease 1 both, simple-hide 0ms 5700ms both;
	animation: swirl-in-fwd 1000ms 4900ms ease 1 both, simple-hide 0ms 5700ms both;
}

#img_16210.bnfy-exit {
	-webkit-animation: puff-out-center 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
	animation: puff-out-center 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
}

#el_16211 {
	top: 185.5672607421875px;
	left: 166.422607421875px;
	z-index: 5;
	mix-blend-mode: normal;
}

#img_16211 {
	width: 20px;
	height: 17px;
}

#img_16211.bnfy-enter {
	-webkit-animation: swirl-in-fwd 1000ms 4200ms ease 1 both, simple-hide 0ms 5000ms both;
	animation: swirl-in-fwd 1000ms 4200ms ease 1 both, simple-hide 0ms 5000ms both;
}

#img_16211.bnfy-exit {
	-webkit-animation: puff-out-center 1000ms 5000ms ease 1 both, simple-show 0ms 5000ms both;
	animation: puff-out-center 1000ms 5000ms ease 1 both, simple-show 0ms 5000ms both;
}

#el_16216 {
	top: 215.1286163330078px;
	left: 166.2247314453125px;
	z-index: 6;
	mix-blend-mode: normal;
}

#img_16216 {
	width: 10px;
	height: 10px;
}

#img_16216.bnfy-enter {
	-webkit-animation: swirl-in-fwd 1000ms 3700ms ease 1 both, simple-hide 0ms 4500ms both;
	animation: swirl-in-fwd 1000ms 3700ms ease 1 both, simple-hide 0ms 4500ms both;
}

#img_16216.bnfy-exit {
	-webkit-animation: puff-out-center 1000ms 4500ms ease 1 both, simple-show 0ms 4500ms both;
	animation: puff-out-center 1000ms 4500ms ease 1 both, simple-show 0ms 4500ms both;
}

#el_1287 {
	top: 208.1840057373047px;
	left: 203.81005859375px;
	z-index: 7;
	mix-blend-mode: normal;
}

#img_1287 {
	width: 79px;
	height: 18px;
}

#img_1287.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes swirl-in-fwd {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0
	}
	to {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1
	}
}

@keyframes swirl-in-fwd {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0
	}
	to {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1
	}
}

@-webkit-keyframes puff-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
	to {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
}

@keyframes puff-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
	to {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
}
